.cart-container {
    position: absolute;
    top: 20%;
    left:50%;
    transform: translate(-50%, -50%);
}

.cart-title {
    position: absolute;
    margin: 80px;
    vertical-align: center;
    
}

.cart-text {
    position: relative;
    margin-left: 300px;
    vertical-align: center;
}