@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,100..900;1,100..900&display=swap');

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

#nikeimg {
    height: auto;
    width: auto;
    max-height: 100px;
    max-width: 120px;
    margin: 80px;
    position: relative;
    z-index: 1;
}

.invisible-button {
    position: absolute;
    top: 80px; /* same as the img margin */
    left: 80px; /* same as the img margin */
    width: 120px; /* same as max-width of the img */
    height: 100px; /* same as max-height of the img */
    background: transparent;
    border: none;
    cursor: pointer;
    z-index: 2;
}
